.appointment__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background-color: #f6fbff;
}

.appointment__sub-title {
    color: var(--title-color);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 18px;
}

.appointment__desc {
    position: relative;
    max-width: 617px;
    padding-top: 18px;
    margin-bottom: 38px;
    color: var(--description-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
    text-align: center;
}
.appointment__desc::before {
    content: "";
    position: absolute;
    top: 0;
    /* Căn giữa C2 thay vì dùng transform 50% */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 136px;
    height: 2px;
    background-color: var(--primary-color);
}
