*,
::before,
::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
}
:root {
    /* Color */
    --primary-color: #2e80ce;
    --title-color: #10375c;
    --description-color: #575f66;
}
a {
    text-decoration: none;
}
/* Logo */
.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
}

.logo__circle::after {
    position: absolute;
    top: 11px;
    left: 11px;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    margin-left: 6px;
    color: #fff;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
}

.btn {
    display: inline-block;
    min-width: 205px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 22px 0;
    border-radius: 30px;
}
.btn:hover {
    opacity: 0.8;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid currentColor;
    color: var(--description-color);
    cursor: pointer;
}
.arrow + .arrow {
    margin-left: 18px;
}
.arrow:hover {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}
