.guides {
    padding: 100px 0;
    background: #f6fbff;
}

.guides__sub-title {
    color: var(--title-color);
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -1px;
}

.guides__desc {
    width: 40%;
    color: var(--description-color);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.guides__row {
    margin-top: 70px;
}

.guides__step {
    background-color: #eaf6ff;
    padding: 16px;
    border-radius: 4px;
    transition: 0.4s linear;
}
.guides__step:hover {
    background-color: var(--primary-color);
    transform: translateY(-16px);
}
.guides__info {
    padding: 43px 42px;
    background-color: #fff;
    border-radius: 4px;
}
.guides__info-icon {
    width: 72px;
    height: 72px;
}
.guides__info-heading {
    --line-clamp: 1;
    margin: 18px 0 28px;
    color: var(--title-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.guides__info-more,
.guides__info-desc {
    --line-clamp: 3;
    color: var(--description-color);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
.guides__info-more {
    display: inline-block;
    margin-top: 18px;
}
.guides__info-more:hover,
.guides__info-more--active {
    color: var(--primary-color);
    font-weight: 400;
    text-decoration: underline;
}
