.header {
    background-color: var(--title-color);
    padding-top: 30px;
    position: sticky;
    top: -30px;
    left: 0;
    z-index: 1;
}

/* ====Navbar===== */
.nav-bar {
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}
.nav {
    display: flex;
    column-gap: 29px;
}
.nav-item__link {
    position: relative;
    color: #c9d2da;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 8px;
}
.nav-item__link:hover,
.nav-item__link--active {
    color: #fff;
    font-weight: 400;
    text-shadow: 1px 0 0 currentColor;
}
.nav-item__link--active::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
}
.auth__sign-in {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
}
.auth__sign-in:hover {
    color: #fff;
}
.auth__sign-up {
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 104px;
    padding: 14px 0;
    margin-left: 28px;
}
